@import "../../variables.module.scss";
.label__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $light-gray;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
