.logo {
  font-weight: bold;
  font-size: 51px;
  line-height: 81px;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  span {
    color: #63efaf;
  }
  @media screen and (max-width: 920px) {
    font-size: 46px;
  }
}
