/*---------BG-IMG----------*/
$logo: #63efaf;
$form-area: #21262c;
$light-gray: #6c7684;
$form-title: #ffffff;
$form-info: #a5acb7;
$input-bg: #323b43;
$invalid-msg: rgba(255, 0, 0, 0.815);
$invalid-border: red;
$form-bg: #38404c;
$dark-gray: #293038;
$tooltip-bg: rgba(0, 0, 0, 0.5);
